<launch>
    <arg name="veh" default="pontiac" doc="Name of vehicle. ex: megaman"/>

    <arg name="pkg_name" value="dt-live-instagram_shamrock"/>
    <arg name="node_name" default="dt-live-instagram_shamrock_node"/>

    <group ns="$(arg veh)">        
        <!-- run local -->
        <node if="$(arg local)" name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen" clear_params="true" required="true">
        </node>

    </group>

    
</launch>
